
.category-image img{border-radius: 153px; margin-bottom: 22px;}
.category-list h5{text-align: center;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .category-row{gap: 39px;}
    .category-list{width: calc(20% - 32px); margin-bottom: 140px;}
}