/*-- media css starts here --*/
@media only screen and (min-width: 1300px){
    .top-navigation{background-color: var(--text-color);}
    ul.top-nav{gap: 64px; padding: 5px 0 2px; margin: 0; justify-content: flex-end;}
    ul.top-nav li::before{display: none;}
    ul.top-nav li a{font-size: 1rem; line-height: 22px; letter-spacing: 1.6px; color: var(--white);}
    ul.top-nav li a:hover{color: var(--red-color);}

    .header{padding: 22px 0; gap: 126px;}
    .logo{flex: 0 0 335px;}
    .logo img{max-width: 231px;}
    .header_srch{flex: 1; max-width: 716px;}
    .header_srch input:not(input[type="submit"]) { padding: 21px 50px 20px 30px; font-size: 14px; line-height: 1.5; border-radius: 39px; background-color: rgba(16, 24, 32, 0.05); color: var(--text-color); border: none; }
    .header_srch_btn { right: 28px; top: 50%; transform: translateY(-50%); width: 22px; height: 22px; font-size: 22px; position: absolute; color: var(--text-color); }
    .header_srch_btn input { padding: 0; width: 100%; height: 100%; opacity: 0; background: 0 0; font-size: 0; line-height: 0; position: absolute; z-index: 1; }
    .header-cart{flex:  0 0 342px; gap: 62px;}
    .user_ac{flex: 0 0 164px;}
    .user_basket{flex: 1; justify-content: flex-end;}
    .user_list{font-size: 16px; line-height: 22px; letter-spacing: 1.6px; font-weight: 600; text-transform: uppercase;}
    .user_list span{margin-right: 10px;}
    .user_list:hover{color: var(--red-color);}

    ul.main_menu {gap: 0 60px; margin: 0; padding: 0;  border-top: solid 1px rgba(160, 160, 160, 0.46);}
    ul.main_menu li::before{display: none;}
    ul.main_menu > li {margin: 0; padding: 22px 0;}
    ul.main_menu > li > a{display: inline-block; font-size: 18px; line-height: 24px; letter-spacing: 1.8px; color: var(--text-color); font-weight: 600; position: relative; text-transform: uppercase;}
    ul.main_menu > li > a:hover{color: var(--red-color);}
    ul.main_menu > li.menu-item-has-children > a::after{width: 80px; height: 8px; bottom: 42px; left: 0; background-image: linear-gradient(90deg, #3207FF 0%, #8200F0 100%); content: ""; display: block; position: absolute; opacity: 0; transition-duration: 0.75s; transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); transition-property: all; z-index: 2; }
    ul.main_menu > li.menu-item-has-children:hover > a::after, ul.main_menu > li.menu-item-has-children:not(.button) > a:hover::after{bottom: -4px; opacity: 1;}
    ul.main_menu > li.button > a{color: var(--white); text-transform: none;}
    ul.main_menu > li > ul{display: none; position: absolute;}
}
@media only screen and (max-width: 1599px) and (min-width: 1024px){
    ul.top-nav {
        gap: 37px;
    }
    .header {
        gap: 62px;
    }
    .header-cart {
        gap: 32px;
    }
    ul.main_menu {
        gap: 0 35px;
        justify-content: space-around;
    }
    ul.main_menu > li > a {
        display: inline-block;
        font-size: 16px;
        line-height: 20px;
    }
}