.latest-row{gap: 95px; margin-bottom: 140px;}
.latest-text{margin-top: 126px; width: 325px;}
.latest-text h3{font-size: 35px; margin-bottom: 19px;}
.latest-text p{font-size: 18px; margin-bottom: 34px;}
.title-row{width: calc(100% - 420px); gap: 39px;}
.title-list{width: calc(33.33% - 39px);}
.title-image{margin-bottom: 20px;}
.title-image img{border-radius: 20px;}
.title-list .number{font-size: 18px; color: rgba(16, 24, 32, 0.3);}
.title-list h5{font-size: 24px; color: #101820;}