.product-row{gap: 70px;}
.product-list{width: calc(33.33% - 70px); margin-bottom: 140px;}
.product-image{margin-bottom: 27px;}
.product-text h4{font-size: 28px; margin-bottom: 11px;}
.product-text p{font-size: 18px; margin-bottom: 30px;}
