
.trending-main{margin-bottom: 206px;}
.trending-image{margin-bottom: 27px;}
.trending-text h5{font-size: 24px;}
.trending-text p{font-size: 18px;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .trending-row{gap: 70px;} 
    .trending-list{width: calc(33.33% - 47px)}
}
