.visit-image img{border-radius: 20px;}
.visit-image{margin-bottom: 28px;}
.visit-text h4{font-size: 28px;}


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .visit-row{gap: 44px; padding-bottom: 140px;}
    .visit-list{flex: 0 0 calc(33.33% - 30px);}
}